@using EntityLayer.Concrate
@model List<Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h1>Index</h1>

<table>
    <tr>
        <td>ID</td>
        <td>Başlık</td>
    </tr>
    @foreach(var item in Model)
    {
        <td>@item.BlogId</td>
        <td>@item.BlogTitle</td>

    }
</table>